<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Prix</th><th>Genre</th> <th>Date Création</th> <th>Image</th></tr>
    <tbody *ngFor="let videogame of videogames">
    <tr >
    <td>{{videogame.idVideogame}}</td>
    <td>{{videogame.nomVideogame}}</td>
    <td>{{videogame.prixVideogame}}</td>
    <td>{{videogame.genre.nomGen}}</td>
    <td>{{videogame.dateCreation | date:'dd/MM/yyyy'}}</td>
    <td><img class="card-img-top img-responsive"
        src = "{{videogame.imageStr}}"
        style = "height :50px;width:100px">
        </td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateVideogame',videogame.idVideogame]">Modifier</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerVideogame(videogame)">Supprimer</a></td>
    </tr>
    </tbody>
    
    </table>
    </div>
    </div>
    </div>